<footer class="footer">
  <div class="footer__inner">
    <div class="footer__logo">
      <img class="footer__logo-icon" [src]="footer.logo.icon" alt="Trenh Tech logo" />
      <span class="footer__logo-text">{{ footer.logo.text }}</span>
    </div>

    <div class="footer__links">
      @for (group of footer.linkGroups; track group.title) {
        <div class="footer__link-group">
          <h4 class="footer__link-title">{{ group.title }}</h4>
          <ul class="footer__link-list">
            @for (link of group.links; track link.href) {
              <li>
                <a class="footer__link" [href]="link.href">{{ link.label }}</a>
              </li>
            }
          </ul>
        </div>
      }
    </div>

    <div class="footer__social">
      @for (social of footer.social; track social.platform) {
        <a class="footer__social-link" [href]="social.href" target="_blank" rel="noopener noreferrer">
          <i [class]="social.icon"></i>
        </a>
      }
    </div>
  </div>
</footer>
