<header class="header">
  <div class="header__inner">
    <a class="header__logo" href="#">
      <img class="header__logo-icon" [src]="nav.logo.icon" alt="Trenh Tech logo" />
      <span class="header__logo-text">{{ nav.logo.text }}</span>
    </a>

    <nav class="header__nav">
      @for (link of nav.links; track link.href) {
        <a class="header__nav-link" [href]="link.href">{{ link.label }}</a>
      }
    </nav>

    <a class="header__cta" [href]="nav.cta.href">{{ nav.cta.label }}</a>
  </div>
</header>
